body {
    background: #222D32;
    background: #b7bac9;
    font-family: 'Roboto', sans-serif;
}

.login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    text-decoration-color: #ECF0F5;
    color: #ECF0F5;
}

.nav-item-text {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: normal;
    text-decoration-color: #ECF0F5;
    color: #ECF0F5;
    border-width: 10px;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

.input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

.input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

.label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 15px;
    /*color: #6C6C6C;*/
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.bakground {
    background-color: #0DB8DE;
    right: 0px;
}

.select-height {
    -webkit-appearance: menulist-button;
    height: 40px;
}

.title {
    /*flex-shrink: 0;*/
    /*text-align: center;*/
    /*background-color: #4abd57;*/
    /*color: black;*/
}

.InlineComponent {
    /*flex-shrink: 0;*/
    /*text-align: center;*/
    /*background-color: #4abd57;*/
    /*color: black;*/
}

.panel-width-60 {
    width: 60%;
}

.panel-width-30 {
    width: 30%;
}

.margin-right-60 {
    margin-right: 60px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.main-table-container {
    width: 800px;
    margin: auto;
}

.table-container {
    width: 400px;
}

.actions * {
    padding: 8px 0;
}
.actions a {
    margin-right: 1rem;
}

.actions a:hover {
    color: purple;
}